name: Generate Snake Animation

on:
  schedule:
    - cron: "0 */12 * * *"   # Atualiza a cada 12 horas
  workflow_dispatch:         # Permite rodar manualmente

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v3

      - name: Instalar dependências Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Instalar executor da Snake
        run: |
          pip install --upgrade pip
          pip install PyGithub

      - name: Gerar animação Snake
        uses: Platane/snk@v3
        with:
          github_user_name: moondevgabs-maker
          outputs: dist/snake.svg

      - name: Commit e Push da snake.svg gerada
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Atualizando animação Snake"
          file_pattern: "dist/snake.svg"
