name: Generate Snake Animation

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
      - uses: actions/checkout@v3

      - name: Generate Snake (transparent + blue ethereal)
      uses: Platane/snk@v3
      with:
        github_user_name: ${{ github.repository_owner }}
        outputs: dist/snake.svg
        color_snake: "#5cc6ff"   # azul etéreo
        color_dot: "#5cc6ff"     # bolinhas mágicas
        speed: 1

      - name: Push changes
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: "update: ethereal blue snake"
        file_pattern: dist/snake.svg
